In [1]:
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
from __future__ import absolute_import, division, print_function

import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
names = ['MPG', 'Cylinder', 'Displacement', 'Horsepower', 'Weight', 'Accelration', 'Model_Year', 'Origin']
df = pd.read_csv(url, sep = " ", comment='\t', na_values='?', skipinitialspace=True,names=names)
df.head()

    MPG  Cylinder  Displacement  ...  Accelration  Model_Year  Origin
0  18.0         8         307.0  ...         12.0          70       1
1  15.0         8         350.0  ...         11.5          70       1
2  18.0         8         318.0  ...         11.0          70       1
3  16.0         8         304.0  ...         12.0          70       1
4  17.0         8         302.0  ...         10.5          70       1

[5 rows x 8 columns]